@font-face {
  font-family: 'iconfont'; /* Project id 3881999 */
  src: url('//at.alicdn.com/t/c/font_3881999_tfpuj70wsn.woff2?t=1675672391672')
      format('woff2'),
    url('//at.alicdn.com/t/c/font_3881999_tfpuj70wsn.woff?t=1675672391672')
      format('woff'),
    url('//at.alicdn.com/t/c/font_3881999_tfpuj70wsn.ttf?t=1675672391672')
      format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: '\e61f';
}
