@font-face {
  font-family: 'iconfont'; /* Project id 3881999 */
  src: url('//at.alicdn.com/t/c/font_3881999_qt4fdgkjjpi.woff2?t=1682654158351')
      format('woff2'),
    url('//at.alicdn.com/t/c/font_3881999_qt4fdgkjjpi.woff?t=1682654158351')
      format('woff'),
    url('//at.alicdn.com/t/c/font_3881999_qt4fdgkjjpi.ttf?t=1682654158351')
      format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alert-circle-outline:before {
  content: '\e623';
}

.icon-sync-outline:before {
  content: '\e622';
}

.icon-checkmark-circle-outline:before {
  content: '\e621';
}

.icon-close:before {
  content: '\e61f';
}
